html {

cursor: url('img/orc_cursor.gif'), default;

}

.viewas {
	display: inline-block;
	float: left;
	font-size: 30px;
	margin-top:  10px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right:  30px;
}
.link_to_gr {
color: white;
margin-left: 25px;
line-height: 40px;
}
.report_header {height: 120px;}
.report_table {

	border: none;
	width: 100%;
	margin: 0 auto;
}

.c_button img {

	border: 1px solid yellow;position: relative;float:  right;height:  40px;margin-right: 25px;}
.c_button {

width: 100px;
height: 100px;position: relative;}
.report_table th {
	color: white;
	font-size: 20px;
	text-align: center;
	width: 150px;
	text-shadow:  2px 2px black;
}

button {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 40px;
}
.gameinfo {
	clear: both;
}

#download {
	float: left;
	font-size: 30px;
	margin: 30px 0px 30px 0px;
	width: 50%;
	clear: both;
}

.report_table td{

	width: 150px;
}

.stats_row {
height: 337px;
}

#background_png {
width: 1024px;
height: 768px; 
margin: 0 auto;
cursor: url(\'img/reg_cursor.png\'), default;

}

.percent_back {
    position: absolute;
    top: 52%;
    left: 39%;
    font-size: 3em;

}
div#chart_div div {

	margin: 0 auto;
	

}
.perc_1429 {
width: 14.28%;
float: left;
position: relative;
text-align: center;

}
.bignum_gr3 {

    font-size: 20px;
    line-height: 30px;
    z-index: 11;
    position: relative;
}

.bignum_inner {

text-align: center;
position: relative;text-shadow:  2px 2px black;}

.perc_100_box {
width: 80%;
background-color: black;
text-align: center;
border: 2px solid yellow;
color: white;
height: 30px;
position: relative;
margin: 0 auto;
}


.perc_100 {
width: 100%;
}
.head_of_page {

color: white;
width: 100%;
height: 66px;
}
nav {
margin-bottom: 86px;
}

.tab_radius {

border-radius: 10px 10px 0px 0px;

}
.navbutton:hover {
	height: 50px;
	background-color: #080e2e;
	margin-right: 20px;
	width: 110px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	color: white;
}

.navbutton {
	height: 50px;
	background-color: lightblue;
	margin-right: 20px;
	width: 110px;
	line-height: 50px;
	text-align: center;
}

.page_active {


	height: 50px;
	background-color: #080e2e;
	margin-right: 20px;
	width: 110px;
	line-height: 50px;
	text-align: center;
	color: white;

}

.pie_right2 {

	width: 50%;
	float: right;
	z-index: -999;
	margin-top: -5%;

}
.leaderboard_map2 {
    text-align: center;
    width: 50%;
    float: left;
    clear: both;
}

#piechart_user {

    height: 500px;
    width: auto;
}

.pie_right {
	width: 50%;
	float: right;
	margin-top: -5%;
	z-index: -999;
}
.game_stats {

background-color: papayawhip;
height: 245px;
}

.game_stats2 {

background-color: lightblue;
}

.server_icon {
	width: 100%;
	float: left;
	text-align: center;
	margin: 2em 0px
}


.recent_games {


text-align: center;
clear: both

}

.red {
	color: red;
}

.green {
	color: green;

}

tbody {
	width: 100%;

}
.server_stats h3 {
	margin:  0;
	margin-top:  1em;
}
.user_profile_wrapper {
	width: 100%;
	height: 400px;

}


.user_profile_left {
    width: 20%;
    float: left;
    height: 343px;
}

.user_profile_sp {
    width: 30%;
    float: left;
    height: 343px;
}

.user_profile_sp pre {
    white-space: pre-wrap;
    width: 95%;
    margin: 0;
    padding: 0;
}


.user_profile_rl {
    width: 25%;
    float: left;
    height: 343px;
}



.user_profile_rl_scroll {
    height: 270px;
    overflow: auto;
    width: 230px;
}

.user_profile_hh {
    width: 25%;
    float: left;
    height: 343px;
}


.user_profile_hh_scroll {
    height: 270px;
    overflow: auto;
    width: 230px;
}

.user_form {
	clear: both;
	text-align: center;
	width: 100%;
	background-color:  lightblue;

	height: 6em;
}
.links {

	background: lightblue;
	height: 32em;
	margin: 3% 0% 0% 0%;
	

}
.user_search {
	width: 60%;
	height: 3em;
	border: 3px solid white;
	padding:  0px;
	margin:  0px;
}

.user_search_button {
	width: 12%;
	height: 1.314em;
	color:  green;
	background-color: lightblue;
	border: 4px solid green;
	border-radius:  10px;
	font-size: 2.25em;
	padding:  0px;
	margin:  0px;
}

.recent_hackers {
	float:left;
	width: 21.25%;
	background-color: pink;
	margin-left:  2.5%;
	border-radius:  10px;
	margin-right: 2.5%;
}

.anti-hack {
	float: left;
	width: 21.25%;
	background-color: #A2E8A2;
	height: 28.082em;
	margin-left:  2.5%;
	margin-right: 2.5%;
	border-radius:  10px;
}

.map_table {

    height: 22rem;
	border: none !important;
    overflow-y: scroll;
    width: 50%;
    float: right;
	margin-bottom: 3%;
}

.map_table2 {

    height: 22rem;
	border: none !important;
    overflow-y: scroll;
    width: 100%;
    float: right;
	margin-bottom: 3%;
}

.map_table2 table {
	border: none;

}

.map_table table {
	border: none;

}

.game_stats_img {
    background-color: #080e2e;
    text-align: center;
    height: 546px;
}

.leaderboard_map {

	text-align: center;
}

.float_left {
float: left;
}

.float_right {
float: right;
}

.perc_50 {
width: 50%;
}


.leaderboard_map table {
    width: 50%;
    float: left;
}

.leaderboard_map table2 {
    width: 50%;
    float: left;
}


.center_big {
    text-align: center;
    padding-top: 6.5em;
    padding-bottom: 3.5em;
}


#footer h3 {
	margin: 0;
	padding: 1.1em;
}

.community {
	float: left;
	width: 21.25%;
	margin-right: 2.5%;
	border-radius:  10px;
	clear: both;
	background-color: lightgray;
}

.server_stats {
	clear: both;
	float: left;
	background-color: lightblue;
	margin: 3% 0;
	width:  100%;
}

.all_users {
	width: 33%;
	float: left;
}

.all_logins {
	width: 33%;
	float: left;
}

.bignum_gr {
    font-size: 8em;
    display: inline-block;
    padding: .25em;
    color: sienna;
}

.bignum_gr2 {
    font-size: 8em;
    display: inline-block;
    padding: .25em;
    color: blue;
}

.bignum {
	font-size: 4em;
	display:  inline-block;
	padding: .25em;
}

.all_avg {
	width: 33%;
	float: left;
}

.leaderboards {
	background-color: lightgray;
	border-radius: 10px;
	padding: 2% 5%;
    	font-family: sans-serif;
 	text-align: center;
}

.percent {
	font-size: 4em;

}

.leaderboard_time_online {
	float: left;
	width: 33%;
}

.leaderboard_logins {
	float: left;
	width: 33%;

}

.leaderboards {
	background-color: lightgray;
	border-radius: 10px;
	padding: 2% 5%;
	clear: both;
	height: 35em;
	margin: 0 auto;
}

.leaderboard_avg_online {
	float: left;
	width: 33%;
}

.profile_links {
	float: left;
	width: 66%;
}

.new_accounts {
	float: left;
	width: 33%;
}

.online_now {

	float: left;width: 21.25%;background-color: lightgray;margin-left:  2.5%;border-radius: 10px;}

.link_results {
	height: 26em;
	width: 95%;
	overflow: auto;

}

h1 {

	font-size: 3em;
	margin: 1em 0;

}

h2 {

	font-size: 2em;
	margin: 1em 0;
	
}
.px_500_h {

height: 500px;
}
h3 {

	font-size: 1.5em;
	margin: 1em 0;
	
}
.online_results {
	height: 19.795em;
	overflow: auto;
	width: 100%;
}

.hacker_results {
	height: 19.795em;
	overflow: auto;
	width: 100%;
}

#hideme_percent {
	display: none;

}

.new_accounts_results {
	height: 26em;
	overflow: auto;
}

.user_profile_sp pre {
    white-space: pre-wrap;
    width: 95%;
}

.site_wrapper {
clear: both;
	width: 75%;
	margin: 0 auto;
	font-family: sans-serif

}

.community_results {
	height: 19.795em;
	width: 100%;
	overflow: auto;
	}
.center2 {
text-align: center;
color: white;
font-size: 25px;
text-shadow: 2px 2px black;
}


.title_header {

	float: left;
	display: inline-block;width: 33%;
	color: white;
	font-size: 20px;text-align:  center;box-sizing:  border-box;padding-top:  10px;text-shadow:  2px 2px black;}


.center {

text-align: center;padding-top: 1.5em;padding-bottom: 1.5em;}

body {
	background-color: white;
}

.community_wrapper {padding: 5% 5%;}

.rh_wrapper {
	padding: 5% 5%;
}
.anti-hack_wrapper {
	padding: 5% 5%;
	position: relative;
}

.online_now_wrapper {
	padding: 5% 5%;
}

.lg {

	background-color: lightgreen;

}

.pink {

	background-color: pink;

}

body {
	width: 100%;
	margin: 0px;
	padding:  0;
}


.community_wrapper h2 {
	margin: 0;
	margin-bottom: 1em;
	margin-top: 1em;
}
#footer {

	clear: both;
	width: 100%;height: 5em;
	background-color: gray;margin:  0%;}

table {

width: 75%;
margin: 0 12.5%;border: 4px solid gray;border-radius: 10px;border-radius: 11px;}


table td {

	
	padding: .25em;
	text-align: left;


}

input[type="text"] {
  padding: .88em;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  width: 40%;
  margin: 1em 0;
}
input[type="text"]:focus,
input[type="text"] {
  border: solid 5px #969696;
}


input[type="submit"] {
    padding: .88em;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    width: 10%;
    margin: 1em 0;
}
input[type="submit"]:hover, input[type="submit"] {
  border: solid 5px #969696;
  cursor: pointer;

}

.outcome {
	font-size: 70px;
	display: inline-block;
	float: left;
	width: 33%;
	color: white;
	box-sizing: border-box;
	text-align:  center;
	padding-top: 30px;
	text-shadow:  2px 2px black;
}

.rank {

	font-size: 40px;
	float: left;
	width: 33%;
	color: white;text-align:  center;padding-top:  30px;text-shadow: 2px 2px black;}

.score {
	width: 33%;
	float: left;
	font-size: 40px;
	color: white;
	text-align:  center;
	padding-top:  30px;
	text-shadow: 2px 2px black;
	}

@media only screen and (max-width : 1700px) {


	.site_wrapper {
	width: 95%;
	}
}

@media only screen and (min-width : 1700px) {


	.site_wrapper {
	width: 75%;
	}
}


@media only screen and (max-width : 1344px) {

.site_wrapper {
width: 100%
}

.user_profile_left {
	width: 100%
}
h1 {
	font-size: 1.5em
}

user_profile_sp {
	width: 100%;
	clear: both;
}

.user_profile_sp {
	width: 100%;
}

.user_profile_rl {
	width: 100%;
	
}

.user_profile_hh {
	width: 100%;
}

user_profile_rl_scroll {
	width: 60%;
	clear: both;
}

user_profile_hh_scroll {
	width: 60%;
}



input[type="text"] {
  padding: .88em;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  width: 55%;
  margin: 1em 0;
}

input[type="submit"] {
    padding: .88em;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    width: 30%;
    margin: 1em 0;
    border-radius: 0px;
    height: 4em;
}

.community {
	width: 85%;
	margin: 2em;
}


.recent_hackers {
	width: 85%;
	margin: 2em;
}

.anti-hack {

	width: 85%;
	margin: 2em;
}

.online_now {

	width: 85%;
	margin: 2em;
}

.all_users {

	width: 100%;
}

.all_logins {
	width: 100%;
}

.all_avg {

	width: 100%;
}

.leaderboards {
	width: 80%;
	height: 100em;
}

.leaderboard_time_online {
	width: 100%;
}

.links {
	width: 100%;
	height: 65em
}
.link_results {
	width: 100%;
}

.new_accounts_results {
	width: 100%;
}

.leaderboard_avg_online {
	width: 100%;
}

.new_accounts {
	width: 100%;
}

.leaderboard_logins {
	width: 100%;
}

.profile_links {
	width: 100%;
}
}

